@model ComicBookRepository.ComicBookTitle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ComicBookTitle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastIssue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastIssue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumIssues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumIssues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumSpIssues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumSpIssues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LimitedSeries)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LimitedSeries)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
