@model IList<ComicBookTitleDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Comic Book Titles</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>

<table class="table" id="tblTitles">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                    @Html.DisplayNameFor(model => model[0].Title)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].FirstIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LastIssue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NumIssues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].NumSpIssues)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].LimitedSeries)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    <a asp-controller="ComicBookDetails" asp-action="Index" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
                </td>
                <td class="center">
                    <span>@Html.DisplayFor(modelItem => item.FirstIssue)</span>
                    <input type="text" value="@item.FirstIssue" style="display: none" />
                </td>
                <td class="center">
                    <span>@Html.DisplayFor(modelItem => item.LastIssue)</span>
                    <input type="text" value="@item.LastIssue" style="display: none" />
                </td>
                <td class="center">
                    <span>@Html.DisplayFor(modelItem => item.NumIssues)</span>
                    <input type="text" value="@item.NumIssues" style="display: none" />
                </td>
                <td class="center">
                    <span> @Html.DisplayFor(modelItem => item.NumSpIssues)</span>
                    <input type="text" value="@item.NumSpIssues" style="display: none" />
                </td>
                <td class="center">
                    <span> @Html.DisplayFor(modelItem => item.LimitedSeries)</span>
                    <input type="checkbox" value="@item.LimitedSeries" style="display: none" />
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>